/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} commented out, but might bring it back*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FF9C9C;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #B9B9B9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*accordion button css styling*/
button.accordion{
    cursor:pointer;
    border:none;
    outline:none;
    width:100%;
    text-align:left;
    background-color:transparent;
    color:#fff;
    transition:0.3s;
    padding:8px;
    margin:4px 0;
    border-radius:4px;
}

button.accordion:hover{
    background-color:rgba(255,255,255,0.3);
}

button.accordion.active{
    background-color:#fff;
    color:#000;
    border-radius:4px 4px 0 0;
}

div.panel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:0 0 4px 4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    transition:0.3s;
    padding:0 8px;
    margin:0;
}

div.panel.show{
    opacity:1;
    max-height:500px;
    padding:8px;
    margin:2px 0 4px;
}

/*body css styling*/
body {
    background-color: #B9B9B9;
}