<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel = stylesheet href= static/css/main.css>
</head>
<body>

<!-- Home, Projects, Contact -->
<div class = navbar>
    <a href="/">Home</a>
    <a href="projects">Projects </a>
    <a class="active" href="#">Contact</a>
</div>

<h1>Contact Information</h1>
    <h2>Gmail:  stoch.octavian@gmail.com</h2>
    <h2>Github: github.com/octavian-stoch</h2>
    <h2>Cell:   (847)505-3425</h2>
</body>
</html>