<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel = stylesheet href= static/css/main.css>
</head>
<body>
<!-- Home, Projects, Contact -->
<div class = navbar>
    <a class="active" href="#">Home</a>
    <a href="projects">Projects </a>
    <a href="contact">Contact</a>
</div>

<h1> Projects coming soon to a localhost:5000 near you! </h1>
<p> Java Code examples : <br> Python Code examples : <br> SQL Code examples : </p>

<!--<input type = "button" onclick = "window.location.href = 'http://127.0.0.1:5000/projects';" value = "View projects" />-->

</body>
</html>