<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel = stylesheet href= static/css/main.css>
</head>
<body>
<!-- Home, Projects, Contact -->
<div class = navbar>
    <a class="active" href="#">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Projects
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="java">Java</a>
            <a href="python">Python</a>
            <a href="sql">SQL</a>
        </div>
    </div>
    <a href="contact">Contact</a>
</div>

<h1> About Me </h1>



<p>
<img src="static/img/linkedinprofilegrab.png" align="right" valign="middle" vspace="5" hspace="5", height="15%", width="25%"/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <mark>Non dolere, inquam, istud quam vim habeat postea videro;</mark> Quod cum dixissent, ille contra. Profectus in exilium Tubulus statim nec respondere ausus; Ergo illi intellegunt quid Epicurus dicat, ego non intellego? <i>Duo Reges: constructio interrete.</i> Tum Quintus: Est plane, Piso, ut dicis, inquit. Teneo, inquit, finem illi videri nihil dolere. <b>Tum Torquatus: Prorsus, inquit, assentior;</b> </p>

<p>Nam de isto magna dissensio est. Haec para/doca illi, nos admirabilia dicamus. Sed fac ista esse non inportuna; <b>Id enim natura desiderat.</b> <b>Quo studio Aristophanem putamus aetatem in litteris duxisse?</b> </p>

<ul>
	<li>Dulce amarum, leve asperum, prope longe, stare movere, quadratum rotundum.</li>
	<li>Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur.</li>
	<li>Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare;</li>
	<li>Expectoque quid ad id, quod quaerebam, respondeas.</li>
</ul>



<p>Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Quid ad utilitatem tantae pecuniae? Ut proverbia non nulla veriora sint quam vestra dogmata. <b>Sumenda potius quam expetenda.</b> <b>Utram tandem linguam nescio?</b> <b>Optime, inquam.</b> Immo vero, inquit, ad beatissime vivendum parum est, ad beate vero satis. Istam voluptatem perpetuam quis potest praestare sapienti? Omnia contraria, quos etiam insanos esse vultis. </p>



 </p>

<!--<input type = "button" onclick = "window.location.href = 'http://127.0.0.1:5000/projects';" value = "View projects" />-->

</body>
</html>