<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java Problems</title>
    <link rel = stylesheet href= static/css/main.css>
</head>
<body>



<!-- Home, Projects, Contact -->
<div class = navbar>
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn" class="active">Projects
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="java">Java</a>
            <a href="python">Python</a>
            <a href="sql">SQL</a>
        </div>
    </div>
    <a href="contact">Contact</a>
</div>

<!-- Putting java code with explanations here -->
<button class="accordion">
    Robot Returning to Origin (EASY)
</button>
<div class="panel">
    <img src="static/img/robot_returning_to_origin.svg" width="50%"  alt="JavaProblem1">
</div>

<button class="accordion">
    Return all full binary trees (MEDIUM)
</button>
<div class="panel">
    <img src="static/img/all_full_binarytree.svg" width="50%" alt ="JavaProblem3">
</div>

<button class="accordion">
    Interweaving stack of Integers using one stack and one queue. (HARD)
</button>
<div class="panel">
    <img src="static/img/interweaving_stack_queue.svg"  width="50%" alt="JavaProblem2">
</div>

<!-- Javascript for the accordion class-->
<script>
var
accordions=document.querySelectorAll("button.accordion");

for(var i = 0; i<accordions.length;i++){
    accordions[i].onclick=function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
}
</script>

</body>
</html>