<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROJECTS GO HERE</title>
</head>
<body>

    <h1> Java Projects</h1>
        <h2>Finding all possible complete binary trees <input type = "button" onclick = "window.location.href = 'http://127.0.0.1:5000/projects';" value = "View" /></h2>
        <h2>First intersection in a grid</h2>
        <h2>Robot returning to origin</h2>

    <h1> Python Projects</h1>
        <h2>Python web scraping project</h2>
        <h2>Python personal website using flask</h2>
        <h2>Translating Java code to Python and vice-versa</h2>

    <h1> SQL Projects </h1>
        <h2>In-school project: using pl/sql to find interesting results from <br> a database with 500k+ entries</h2>
</body>
</html>