&#123;% extends "layout.html" %&#125;
&#123;% block body %&#125;
<div class="block1">
<h1>Hello { {name} }!</h1>
<h2>Here is an interesting quote for you:</h2>
{ {quote}}

<p><a href="https://oldschool.runescape.wiki/w/File:Antisanta_outfit_(male)_equipped.png#/media/File:Antisanta_outfit_(male)_equipped.png"><img src="https://oldschool.runescape.wiki/images/8/82/Antisanta_outfit_%28male%29_equipped.png?a8483" alt="Male appearance"></a><br><a href="https://oldschool.runescape.wiki/index.php?curid=43421">Link</a></p>

</div>
&#123;% endblock %&#125;